<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css"/>
    <link rel="stylesheet" href="../css/AboutUs.css"/>
    <title></title>
    <style>
    h2{
            color: white;
        }
        p{
         color: #ffd800;   
        }
  </style>
</head>
<body>
<div id="container">
    <header id="header">
         <a href="index.php">
        <img id="logo" src="../imgs/logo.png" alt="logo"/></a>
        <div id="headerButtons">
            <a href="templatesignup.php">
            <input type="button" value="Sign in" class="headerButtons"/></a>
             <a href="templatelogin.php">
            <input type="button" value="Log in" class="headerButtons"/></a>
        </div>
    </header>
    <div id="body">
        <div id="AboutContainer">
            <h2>How this site Work</h2>
            <p>
                Every student could have problems in a subject he or she is taking in universities, or could have a problem in a previous requirement for a course that is build on this previous requirement. Most students try to study the material needed in there own but unfortunately, some of them fail in the process, so they start looking for a friend that can help review or understand this specific subject, and they would always would have problems finding a trainer or to communicate between them especially if there is more than one student who also wants to learn.
                Also many smart and good students have financial problems. And because they did not yet graduate from collage they could not employ their skills to make money
                So we came up with ShreeBook website to solve these problems and benefit the student and the trainer in the same time to grantee a better future.
            </p>
            <p>
                Every student could have problems in a subject he or she is taking in universities, or could have a problem in a previous requirement for a course that is build on this previous requirement. Most students try to study the material needed in there own but unfortunately, some of them fail in the process, so they start looking for a friend that can help review or understand this specific subject, and they would always would have problems finding a trainer or to communicate between them especially if there is more than one student who also wants to learn.
                Also many smart and good students have financial problems. And because they did not yet graduate from collage they could not employ their skills to make money
                So we came up with ShreeBook website to solve these problems and benefit the student and the trainer in the same time to grantee a better future.

            </p>
        </div>
        <div id="footer">
            <a class="footerLink" href="contactus.html">Contact us</a>
            <a class="footerLink" href="aboutus.html">About us</a>
            <a class="footerLink" href="">Find a group</a>
            <a class="footerLink" href="HowThisSiteWork.html">How this site work</a>
            <div class="footerLink">Copy Rights</div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>

