<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/main.css"/>
    <title></title>
</head>
<body>
<div id="container">
    <header id="header">
        
        <img id="logo" src="../imgs/logo.png" alt="logo"/>
        <div id="headerButtons">
            <a href="templatesignup.php">
            <input type="button" value="Sign in" class="headerButtons"/></a>
             <a href="templatelogin.php">
            <input type="button" value="Log in" class="headerButtons"/></a>
        </div>
    </header>
    <div id="body">

        <div id="footer">
            <a class="footerLink" href="">Contact us</a>
            <a class="footerLink" href="">About us</a>
            <a class="footerLink" href="">Find a group</a>
            <a class="footerLink" href="">How this site work</a>
            <div class="footerLink">Copy Rights</div>
            <div class="clear"></div>
        </div>
    </div>
</div>
</body>
</html>

